@model RentCarSystem.Models.Inspection

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Inspection</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasScratches)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasScratches)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountOfFuel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountOfFuel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasReplacementWheel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasReplacementWheel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasHydraulicJack)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasHydraulicJack)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasBrokenGlass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasBrokenGlass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WheelState1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WheelState1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WheelState2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WheelState2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WheelState3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WheelState3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WheelState4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WheelState4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
