@model IEnumerable<RentCarSystem.Models.RentAndDevolution>

@{
    ViewData["Title"] = "Index";
}

<h1>My rents</h1>

<table class="table" id="rent_table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountPerDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountPerDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfDays)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                    <a asp-action="ReturnCar" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Return</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#rent_table').DataTable();
        });
    </script>
}
